**

!frontend/
!frontend/**
frontend/node_modules/
frontend/dist/
frontend/.vite/

!clients/
!clients/typescript-fetch/
!clients/typescript-fetch/**
clients/typescript-fetch/node_modules/
clients/typescript-fetch/dist/
